<!DOCTYPE html>
<html lang="en">
<head>
    <title>THE LOST FILES</title>
    <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.css">
<!-- Load the custom CSS style file -->
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="main-container">
    <div class="library-header-container">
        <div class="playlist-title">Library</div>
        <button class="plus-button">
          <div class="button-vertical-line"></div>
          <div class="button-horizontal-line"></div>
        </button>
        <form id="new-playlist-form">
          <input type="text" class="new-playlist" name="new_playlist_name" placeholder="New Playlist">
        </form>
      </div>
    <div class="playlist-list-container">
      <ul class="playlist-list">
        <% data.json.forEach(function callback(element, index) { %>
          <li class="playlist-list-item<%=index%>" onclick="handleListClick( <%= index %> )"><%= element.name %></li>
        <% }); %>

      </ul>
    </div>
    
    <div class="slider_container">
      <div class="prev-track" onclick="prevTrack(true)">
        <i class="fa fa-step-backward fa-2x"></i>
      </div>
      <div class="playpause-track" onclick="playpauseTrack()">
        <i class="fa fa-play-circle fa-5x"></i>
      </div>
      <div class="next-track" onclick="nextTrack(true)">
        <i class="fa fa-step-forward fa-2x"></i>
      </div>
      <div class="current-time">00:00</div>
      <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
      <div class="total-duration">00:00</div>

      <div class="details">
        <div class="now-playing"></div>
        <div class="track-name"></div>
        <div class="track-artist"></div>
        </div>

    </div>

    <section class="top-div">
      <form action="/logoutRequest" method="POST" id="logoutForm" name="logoutForm">
        <div class="signout-container">
          <input class="signout-text" type="submit" name="sigout-text" value="Log Out">
        </div>
      </form>
      <div class="playlist-songs-container">    
        <ol class="list" id ="list"></ol>
      </div>
  
    </section> 
    <section class="bottom-div">
      <div class="edit-playlist-title-container">
        <i class="fas fa-minus-circle" onclick="deletePlaylist()"></i>
        <span class="settings-title"></span>
        <button class="question-button">
          <i class="far fa-question-circle fa-lg"></i>
        </button>
      </div>
      <div class="info">
        <span>Change playlist order by dragging and dropping tracks. Numbers on the left specify the start and end times of each track</span>
      </div>
      <div class="save-button-container">
        <button class="save-button" value="Save" name="Save">Save</button>
      </div>
      <div class="popup">
        <iframe class="popup-iframe" src="/add_tracks" title="ADDTRACKS" id="add_tracks_iframe"></iframe> 
      </div>
      <div class="edit-playlist-songs-container">    
        <ol class="edit-list" id ="edit-list"></ol>
      </div>
      <form id="settings_form"></form>
    </section>
  </div>
    <script src="Homepage.js"></script>
  </body>

</html>