<!DOCTYPE html>
    <head>
        <title>Login</title>
        <link rel='shortcut icon' type='image/png' href='../public/favicon.png'/>
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/LoginStyle.css">
    </head>
    <body>
        <div class="main-container">
            <div class="login-title">
                <span>Login</span>
            </div>
            <% if (data != 'No message') {%>
                <div class="error-message-container">
                    <span class="error-message"><%= data %></span>
                </div>
            <% } %>
            <form action="/Login" method="POST" id="login-form" name="login_form"></form>
            <label for="username" class="username-label">Username</label>
            <input type="text" id="username" class="username" name="username"  form="login-form">
            <label for="pass" class="password-label">Password</label>
            <input type="password" class="pass" id="pass" name="pass" form="login-form">
            <button class="submit-button">ENTER</button>
            <span class="bottom-elements">
                <a href="SignUp" class="signup">Sign Up</a>
            </span>     
        </div>
        <script src="../public/js/Login.js"></script>
    </body>











</html>