<!DOCTYPE html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/LoginStyle.css">
    </head>
    <body>
        <div class="main-container">
            <div class="login-title">
                <span>Login</span>
            </div>
            <form id="login-form" class="login-form"></form>
            <label for="username" class="username-label">Username</label>
            <input type="text" id="username" class="username" name="pass"  form="login-form">
            <label for="password" class="password-label">Password</label>
            <input type="password" class="pass" id="pass" name="pass" form="login-form">
            <button class="submit-button">Submit</button>
            <span class="bottom-elements">
                <a href="SignUp" class="signup">Sign Up</a>
                <a href="ForgotPassword" class="forgotpass">Forgot Password?</a>
            </span>
            
        </div>
        <script type="text/javascript">
            
            user_label = document.querySelector(".username-label");
            user_field = document.querySelector(".username");
            pass_label = document.querySelector(".password-label");
            pass_field = document.querySelector(".pass");
            submit_button = document.querySelector('.submit-button');
            bottom_elements = document.querySelector(".bottom-elements");

            window.addEventListener('DOMContentLoaded', (event) => {
                if (user_field.value.length > 0) {
                    user_field.style.borderBottom = '2px solid rgba(84, 156, 48, 1)';
                    user_label.style.top = '4vh';
                    user_label.style.opacity = 1;
                }
            });
            user_field.addEventListener('focusin', function () {
                user_label.style.top = '4vh';
                if (user_field.value.length == 0) {
                
                    user_field.style.borderBottom = '2px solid rgba(255, 0, 0,1)';
                    user_label.style.opacity = 1;
                }
            });
            user_field.addEventListener('focusout', function () {

                if (user_field.value.length == 0) {
                    user_label.style.top = '6.5vh';
                    user_label.style.opacity = .5;
                    user_field.style.borderBottom = '2px solid rgba(255, 0, 0,.2)';
                }  else {
                    user_field.style.borderBottom = '2px solid rgba(84, 156, 48, 1)';
                }
            });
            pass_field.addEventListener('focusin', function () {
                pass_label.style.top = '9vh';
                if (pass_field.value.length == 0) {
                    pass_field.style.borderBottom = '2px solid rgba(255, 0, 0,1)';
                    pass_label.style.opacity = 1;
                }
            });
            pass_field.addEventListener('focusout', function () {
                if (pass_field.value.length == 0) {
                    pass_label.style.top = '11.5vh';
                    pass_field.style.borderBottom = '2px solid rgba(255, 0, 0,.2)';
                    pass_label.style.opacity = .5;
                } else {
                    user_field.style.borderBottom = '2px solid rgba(84, 156, 48, 1)';

                }
            });

            user_field.addEventListener('keyup', function () {
                if (user_field.value.length > 0) {
                    user_field.style.borderBottom = '2px solid rgba(84, 156, 48, 1)';
                    if (pass_field.value.length > 0 ) {
                        submit_button.style.visibility = 'visible';
                        submit_button.style.opacity = 1;
                        bottom_elements.style.top = '14vh';
                    }
                } else {
                    user_field.style.borderBottom = '2px solid rgba(255, 0, 0,1)';
                }
                if (pass_field.value.length == 0 || user_field.value.length == 0) {
                    submit_button.style.visibility = 'hidden';
                    submit_button.style.opacity = 0;
                    bottom_elements.style.top = '10vh';
                }
            });
            pass_field.addEventListener('keyup', function () {
                if (pass_field.value.length > 0) {
                    pass_field.style.borderBottom = '2px solid rgba(84, 156, 48, 1)';
                    if (user_field.value.length > 0 ) {
                        submit_button.style.visibility = 'visible';
                        submit_button.style.opacity = 1;
                        bottom_elements.style.top = '14vh';
                    }
                } else {
                    pass_field.style.borderBottom = '2px solid rgba(255, 0, 0,1)';
                }
                if (pass_field.value.length == 0 || user_field.value.length == 0) {
                    submit_button.style.visibility = 'hidden';
                    submit_button.style.opacity = 0;
                    bottom_elements.style.top = '10vh';
                }
            });
        </script>
    </body>











</html>