<!DOCTYPE html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" type="text/css" href="SignUpStyle.css">
    </head>
    <body>
        <div class="main-container">
            <div class="signup-title">
                <span>Sign Up</span>
            </div>
            <% if (data != 'No message') {%>
                <div class="error-message-container">
                    <span class="error-message"><%= data %></span>
                </div>
            <% } %>
            <form action="/Signup" method="POST" id="signup-form" name="signup_form"></form>
            <label for="username" class="username-label" >Username</label>
            <input type="text" id="username" class="username" name="username"  form="signup-form">
            <label for="password" class="password-label">Password</label>
            <input type="password" class="pass" id="pass" name="pass" form="signup-form">
            <button class="submit-button">Sign Up</button>
            <span class="bottom-elements">
                <a href="Login" class="login">Back to Login</a>
            </span>
            
        </div>

        <script src="SignUp.js"></script>
    </body>

</html>