.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main-container {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 34vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.signup-title {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-family: courier;
}

.username-label {
    position: relative;
    display: flex;
    align-items: center;
    top: 6.5vh;
    height: 0vh;
    z-index: 99;
    width: 100%;
    transition-duration: 750ms;
    transition-property: top, opacity, textContent;
    opacity: .5;
    margin-left: 1vw;
    margin-right: 1vw;
    font-family: courier;
}

.username {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    top: 6vh;
    height: 2vh;
    border-bottom: 2px solid rgba(255, 0, 0,.2);
    margin-left: 1vw;
    margin-right: 1vw;
    outline: none;
    transition-duration: 750ms;
    transition-property: border;
}
.pass {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    top: 11vh;
    height: 2vh;
    border-bottom: 2px solid rgba(255, 0, 0,.2);
    margin-left: 1vw;
    margin-right: 1vw;
    outline: none;
    transition-duration: 750ms;
    transition-property: border;
}

.password-label {
    position: relative;
    display: flex;
    align-items: center;
    top: 11.5vh;
    height: 0vh;
    z-index: 99;
    width: 0vw;
    transition-duration: 750ms;
    transition-property: top, opacity;
    opacity: .5;
    margin-left: 1vw;
    margin-right: 1vw;
    font-family: courier;
}

.submit-button {
    display: flex;
    position: relative;
    top:13vh;
    opacity: 0;
    visibility: hidden;
    transition-duration: 1500ms;
    transition-property: opacity;
    padding: 15px 40px;
    background: white;
    border:0;
    color: rgb(255, 106, 106);
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
  justify-content: center;
  
}
  
  .submit-button::after,
  .submit-button::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
      opacity: 0;
    transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .submit-button::after {
      width: 30px;
      height: 1px;
      background: #549c30;
      transform: translateX(-3px);
      margin-top: 0px;
  }
  
  .submit-button::before {
      content: "";
      transform: rotate(-135deg) translateX(50%);
      width: 11px;
      height: 11px;
      background: transparent;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
    margin-top: -1px;
  }
  
  
  .submit-button:hover,
  .submit-button:focus{
    padding: 15px 60px 15px 20px;
    color: #549c30;
  }
  
  .submit-button:hover::after,
  .submit-button:hover::before,
  .submit-button:focus::after,
  .submit-button:focus::before {
    opacity: 1;
    right: 15px;
  }

.login {
    position: relative;

    text-decoration: none;
    color: black;
    opacity: .5;
    transition-duration: 500ms;
    transition-property: opacity;
}

.login:hover {
    opacity: 1;
}

.forgotpass {
    position: relative;
 
    text-decoration: none;
    color: black;
    opacity: .5;
    transition-duration: 500ms;
    transition-property: opacity;
    width: 50%;
    justify-content: end;
    display: flex;
    
}

.forgotpass:hover {
    opacity: 1;
}

.bottom-elements {
    display: flex;
    position: relative;
    top: 10vh;
    transition-duration: 500ms;
    transition-property: top;
    justify-content: center;
}



