body {
    
    /* Smoothly transition the background color */
    transition: background-color .5s;
    height: 100vh;
    /*overflow-y: hidden; */
    /*background-image: linear-gradient(pink, black);*/
  }
    
  /* Using flex with the column direction to
     align items in a vertical direction */
  .player {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
    
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
  }
    
  .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: URL(
       "https://source.unsplash.com/Qrspubmx6kE/640x360");
    background-size: cover;
    background-position: center;
    border-radius: 15%;
  }
    
  /* Changing the font sizes to suitable ones */
  .now-playing {
    font-size: 1rem;
  }
    
  .track-name {
    font-size: 3rem;
  }
    
  .track-artist {
    font-size: 1.5rem;
  }
    
  /* Using flex with the row direction to
     align items in a horizontal direction */
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
    
  .playpause-track,
  .prev-track,
  .next-track {
    padding: 0px;
    opacity: 0.8;
    
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
    
  /* Change the opacity when mouse is hovered */
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
    opacity: 1.0;
  }
    
  /* Define the slider width so that it scales properly */
  .slider_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 90vh;
    left: 1vw;
    width: 98vw;
    background-color: black;
    color: #F072A9;
    border: 2px solid #F072A9;
    border-radius: 10px;
    padding: 0px;    
  } 
    
  /* Modify the appearance of the slider */
  .seek_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 1vh;
    background: #F072A9;
    opacity: .65;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 90%;
    border-radius: 10px;
  }
    
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
    
  /* Change the opacity when mouse is hovered */
  .seek_slider:hover {
    opacity: 1.0;
  }
    
  

    
  .current-time,
  .total-duration {
    font-size: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
  }
    
  i.fa-volume-down,
  i.fa-volume-up {
    padding: 0px;
  }
    
  /* Change the mouse cursor to a pointer
     when hovered over */
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward {
    display: flex;
    font-size: 1vw;
    cursor: pointer;
    padding-left: 1vw;
    padding-right: 1vw;
  }

 

  .add-tracks-image-container {
    width: 100%; /* Set the desired width of the cropped image */
    height: 5vh; /* Set the desired height of the cropped image */
    overflow: hidden; /* Hide any overflowing content */
  }
  
  .cropped-image {
    width: 100%; /* Set the width of the image to fill the container */
    height: 100%; /* Set the height of the image to fill the container */
    object-fit: fill; /* Resize the image to cover the container while maintaining aspect ratio */
  }

  .cropped-image:hover {
    opacity: 20%;
  }

  .add-tracks-container {
    position: absolute;
    top: 6vh;
    left: 0;
    width: 95vh;
    height: 100%;
  }

  .popup-button-container {
    position: absolute;
    left: 1vw;
    top: 1vh;
    height: 6vh;
    width: 10vw;
    overflow: hidden;
  }

  .popup-button {
  display: absolute;
  top: 1vh;
  height: 6vh;
  left: 1vw;
  width: 10vw;
  justify-content: center;
  background-color: black;
  border: solid 2px;
  color: #F072A9;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  padding: 0px;
  overflow: hidden;
  }

  .edit-playlist-button-container {
    position: absolute;
    left: 88vw;
    top: 1vh;
    height: 6vh;
    width: 10vw;
    overflow: hidden;
  }

  .edit-playlist-button {
  display: absolute;
  top: 1vh;
  height: 6vh;
  left: 12vw;
  width: 10vw;
  justify-content: center;
  background-color: black;
  border: solid 2px;
  color: #F072A9;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  padding: 0px;
  overflow: hidden;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup {
    display: none;
    border-radius: 10px;
    position: fixed;
    top: 8vh;
    left: 35vw;
    width: 30vw;
    height: 60vh;
    background-color: black;
    z-index: 1;
  }

  .popup-iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: hidden;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form-style-3{
    max-width: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  .form-style-3 label{
    display:block;
    margin-bottom: 10px;
  }
  .form-style-3 label > span{
    float: left;
    width: 100px;
    color: #F072A9;
    font-weight: bold;
    font-size: 13px;
  }
  .form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #FFD2D2;
    padding: 20px;
    background: #FFF4F4;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
  }

  .add-tracks-title {
    position: block;
    padding-left: 2vw;
    padding-right: 2vw; 
    color: #F072A9;
    font-weight: bold;
  }



.submit-button {
  width:100%;
  max-width: 100%;
	height: 6vh;
	padding-top: 6px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: black;
  border: none;
  color: #F072A9;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
}

.submit-button:hover {
  color: black;
  background-color: #F072A9;
}


.submit-button-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.browse-button {
  width:100%;
  display: flex;
  justify-content: center;
  height: 10vh;
}

.drop-zone {
	max-width: 100%;
	height: 10vh;
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	color: #F072A9;
  background-color: black;
	border-radius: 10px;
  border-color: #F072A9;
}

.drop-zone:hover {
  color: black;
  background-color: #F072A9;
}


.drop-zone--over {
	border-style: solid;
}

.drop-zone__input {
	display: none;
  
}

.drop-zone__thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-size: cover;
	position: relative;
}

.drop-zone__thumb::after {
	content: attr(data-label);
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: #F072A9;
	
	font-size: 14px;
	text-align: center;
}

.drop-zone__thumb:hover::after {
  color: black;
}

.playlist-songs-container {
  position: absolute;
  background-color: black;
  padding: 0px;
  color: #F072A9;
  top: 8vh;
  left: 88vw;
  width: 10vw;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  direction: rtl;
  border-radius: 10px;
  border: 2px solid #F072A9;
  scrollbar-color: #F072A9 black;
  scrollbar-width: none;

}
.playlist-songs-container::-webkit-scrollbar {
  display: none;
}

.list {
  cursor: pointer;
  padding: 2vw;
  margin: 0px;
  direction: ltr;
}

.playlist-songs-item {
  border-right: 1px solid #F072A9;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.playlist-list-container {
  position: absolute;
  background-color: black;
  top: 8vh;
  left: 1vw;
  width: 10vw;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  border: 2px solid #F072A9;
  scrollbar-color: #F072A9 black;
  scrollbar-width: none;
}

.playlist-list-container::-webkit-scrollbar {
  display: none;
}

.playlist-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;

}

.playlist-list > * {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #F072A9;  
}

/* The container */
.container {
  display: block;
  position: relative;
  /*padding-left: 50vw;*/
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #F072A9;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  color: white;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 15vw;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #F072A9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkboxes-container {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
  background-color: black;
}

.playlist-songs-settings-container {
  position: absolute;
  background-color: black;
  padding: 0px;
  color: #F072A9;
  top: 8vh;
  left: 77vw;
  width: 10vw;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  direction: rtl;
  border-radius: 10px;
  border: 2px solid #F072A9;
  scrollbar-color: #F072A9 black;
  scrollbar-width: none;
}

.song-settings-list {
  cursor: pointer;
  padding: 2vw;
  margin: 0px;
  direction: ltr;
}

.song-settings-item {
  border: 1px solid #ccc;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 3vw;
  display: inline-flex;

}


.save-button-container {
  position: absolute;
  left: 77vw;
  top: 1vh;
  height: 6vh;
  width: 10vw;
  overflow: hidden;
  visibility: hidden;
}

.save-button {
  display: absolute;
  top: 1vh;
  height: 6vh;
  left: 77vw;
  width: 10vw;
  justify-content: center;
  background-color: black;
  border: solid 2px;
  color: #F072A9;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  padding: 0px;
  overflow: hidden;
}

.textfield {
  padding-left: .5vw;
  padding-right: 1vw;
  background-color: black;
  color: #F072A9;
  border-color: #070505;
  left: 10vw;
  margin-right: 2vw;
  position: absolute;
  
}

.textfield2 {
  padding-left: .5vw;
  padding-right: 1vw;
  background-color: black;
  color: #F072A9;
  border-color: #070505;
  left: 16vw;
  position: absolute;
}



