body {
    
    /* Smoothly transition the background color */
    transition: background-color .5s;
    height: 200vh;
    /*overflow-y: hidden; */
    background-image: linear-gradient(#F072A9, black);
    overflow-x:hidden;

  }

  .main-container {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
  }

  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

  }
  .top-div {
    position: absolute;
    left: 21vw;
    top: 0px;
    width: 89vw;
    height: 100vh;
    scroll-snap-stop: always;
    scroll-snap-align: start;

  }

  .bottom-div {
    position: absolute;
    left: 22vw;
    width: 89vw;
    top: 100vh;
    height: 100vh;
    scroll-snap-stop: always;
    scroll-snap-align: start;

  }


  .gradient-border {
    background-image: linear-gradient(black, red, black);
    position: absolute;
    width: 2px;
    top: 0vh;
    height: 10vh;
    left: 0vw;
    z-index: 4;
  }
    
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    position: absolute;
    left: 40vw;
    top: 2vh;
  }
    
  .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: URL(
       "https://source.unsplash.com/Qrspubmx6kE/640x360");
    background-size: cover;
    background-position: center;
    border-radius: 15%;
  }
    
  /* Changing the font sizes to suitable ones */
  .now-playing {
    font-size: 1rem;
  }
    
  .track-name {
    font-size: 3rem;
  }
    
  .track-artist {
    font-size: 1.5rem;
  }
    
  /* Using flex with the row direction to
     align items in a horizontal direction */
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
    
  .prev-track {
    position: absolute;
    top: 3vh;
    left: 6vw;
  }

  .next-track {
    position: absolute;
    top: 3vh;
    left: 26vw;
  }

  .playpause-track {
    position: absolute;
    top: 2vh;
    left: 14vw;
  }


  .playpause-track,
  .prev-track,
  .next-track {
    padding: 0px;
    opacity: 0.8;
    
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
    
  /* Change the opacity when mouse is hovered */
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
    opacity: 1.0;
  }
    
  /* Define the slider width so that it scales properly */
  .slider_container {
    position: absolute;
    top: 73vh;
    height: 17vh;
    left: 24vw;
    width: 60vw;
    background-color: black;
    color: #F072A9;
    border: 2px solid #F072A9;
    border-radius: 10px;
    padding: 0px;    
    position: absolute;
    z-index: 3;
    min-width: 500px;
  } 
    
   Modify the appearance of the slider 
  .seek_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0vh;
    background: #F072A9;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    width: 90%;
    border-radius: 10px;
  }
    
   Modify the appearance of the slider thumb 
  .seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #F072A9;
    cursor: pointer;
    border-radius: 50%;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 26vw;
      position: absolute;
      top: 14vh;
      left: 7vw;
      -webkit-appearance: none;
      background-color: black;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #F072A9;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: white;
      box-shadow: -80px 0 0 80px #F072A9;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #F072A9; 
}
input[type="range"]::-moz-range-track {  
  background-color: white;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #F072A9; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: white;
}
    
  /* Change the opacity when mouse is hovered */
  .seek_slider:hover {
    opacity: 1.0;
  }
    
  .current-time {
    position: absolute;
    top: 14vh;
    left: 1vw;

  }

  .total-duration {
    position: absolute;
    top: 14vh;
    left: 35vw;
  }
    
  i.fa-volume-down,
  i.fa-volume-up {
    padding: 0px;
  }
    
  /* Change the mouse cursor to a pointer
     when hovered over */
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward {
    display: flex;
    cursor: pointer;

  }

  .fa-play-circle,
  .fa-pause-circle {
  
    font-size: 5em;

  }

  .fa-step-forward {

    font-size: 3em;
  }

  .fa-step-backward {
    font-size: 3em;
  }

  .library-header-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20vw;
    height: 7vh;
    text-align: left;
    background-color: black;
    color: white;
    border-right: solid 2px;
    border-color: #F072A9;
    border-top-right-radius: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    min-width: 125px;
  
  }

  .plus-button {
    background-color: transparent;
    border: none;
    padding: none;
    position: relative;
    justify-content: center;
    cursor: pointer;
    transition-duration: 500ms;
    transition-property: transform;
  }

  .button-vertical-line {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1.3em;
		width: 0.2em;
    transform: translate(-50%, -50%);

  }

  .button-horizontal-line {
    background-color: white;
    height: 0.2em;
		width: 1.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .playlist-title {
    padding-left: 1vw;
    font-size: 2rem;
    
  }


  .add-tracks-container {
    position: absolute;
    top: 6vh;
    left: 0;
    width: 95vh;
    height: 100%;
  }



  
  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup {
    position: absolute;
    border-radius: 10px;
    top: 23vh;
    left: 4vw;
    width: 30vw;
    height: 75vh;
    background-color: black;
    z-index: 1;
    border: solid 2px #F072A9;
  }

  .popup-iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: hidden;
    background-color: black;
    border-radius: 10px;
  }

  

.playlist-songs-container {
  position: absolute;
  background-color: black;
  padding: 0px;
  color: #F072A9;
  top: 5vh;
  left: 5vw;
  width: 60vw;
  height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll;
  direction: rtl;
  border-radius: 10px;
  border: 2px solid #F072A9;
  scrollbar-color: #F072A9 black;
  scrollbar-width: none;

}
.playlist-songs-container::-webkit-scrollbar {
  display: none;
}

.list {
  cursor: pointer;
  padding: 40px;
  margin: 0px;
  direction: ltr;
}

.playlist-songs-item {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.artist-name-span {
  opacity: .5;
  display: block;
}

.edit-playlist-songs-container {
  position: absolute;
  background-color: black;
  padding: 0px;
  color: #F072A9;
  top: 28vh;
  left: 35vw;
  width: 40vw;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  direction: rtl;
  border-radius: 10px;
  border: 2px solid #F072A9;
  scrollbar-color: #F072A9 black;
  scrollbar-width: none;

}
.edit-playlist-songs-container::-webkit-scrollbar {
  display: none;
}

.edit-list {
  cursor: pointer;
  padding: 2vw;
  margin: 0px;
  direction: ltr;
}

.edit-songs-item {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  color: white;
}

.edit-songs-item:nth-child(odd) {
  /*background-color: #8c8b8b;*/
}

.playlist-list-container {
  position: fixed;
  background-color: black;
  top: 8vh;
  left: 0vw;
  width: 20vw;
  height: 92vh;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 125px;
  border-bottom-right-radius: 10px;
  border-right: 2px solid #F072A9;
  scrollbar-color: #F072A9 black;
  scrollbar-width: none;
  transition-duration: 500ms;
  transition-property: top;
}

.playlist-list-container::-webkit-scrollbar {
  display: none;
}

.playlist-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;

}

.playlist-list > * {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  color: #F072A9;  
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition-duration: 500ms;
  transition-property: border;
}

.edit-playlist-button {
  position: absolute;
  left: 8vw;
}

.playlist-songs-settings-container {
  position: absolute;
  background-color: black;
  padding: 0px;
  color: #F072A9;
  top: 8vh;
  left: 77vw;
  width: 10vw;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  direction: rtl;
  border-radius: 10px;
  border: 2px solid #F072A9;
  scrollbar-color: #F072A9 black;
  scrollbar-width: none;
}

.song-settings-list {
  cursor: pointer;
  padding: 2vw;
  margin: 0px;
  direction: ltr;
}

.song-settings-item {
  border: 1px solid #ccc;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 3vw;
  display: inline-flex;

}


.save-button-container {
  position: relative;
  left: 63vw;
  top: 15vh;
  height: 6vh;
  width: 10vw;
  overflow: hidden;
}

.save-button {
  display: relative;
  top: 1vh;
  height: 6vh;
  left: 0vw;
  width: 10vw;
  justify-content: center;
  background-color: black;
  border: solid 2px;
  color: #F072A9;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  padding: 0px;
  overflow: hidden;
  transition-duration: 500ms;
  transition-property: background-color;
}

.tsmin {
  background-color: black;
  color: #F072A9;
  border-color: #070505;
  left: 10vw;
  display: block;
  width: 15px; 
}

.tsmin:focus {
  outline: solid 1px #F072A9;
}

.tscolon {
  display: block;
  color: #F072A9;
  left: 11.5vw;
  font-weight: bold;
}

.tecolon {
  display: block;
  color: #F072A9;
  left: 29vw;
  font-weight: bold;
}

.hyphen {
  display: block;
  margin-right: 1vw;
  font-weight: bold;
}


.tssec {
  background-color: black;
  color: #F072A9;
  border-color: #070505;
  left: 14vw;
  display: block;
  width: 15px; 
  margin-right: 1vw;
}

.tssec:focus {
  outline: solid 1px #F072A9;
}

.temin {
  background-color: black;
  color: #F072A9;
  border-color: #070505;
  left: 26vw;
  display: block;
  width: 15px;

}

.temin:focus {
  outline: solid 1px #F072A9;
}

.tesec {
  background-color: black;
  color: #F072A9;
  border-color: #070505;
  left: 30vw;
  display: block;
  width: 15px;
}

.tesec:focus {
  outline: solid 1px #F072A9;
}

.new-playlist {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 8vh;
  width: 19vw;
  height: 4vh;
  background-color: black;
  border: none;
  border-right: 2px solid #F072A9;
  padding: 0px;
  color: white;
  border-top: 1px solid #F072A9;
  border-bottom: 1px solid #F072A9;
  outline: none;
  padding-left: 1vw;
  min-width: 119px;
}

.list-span {
  position: relative;
  left: 11vw;
  display: inline-flex;
  width: 20vw;
  top: -2.5vh;
}

.ts-label {
  position: relative;
  left: 15vw;
  top: -2.5vh;
}

.edit-playlist-title-container {
  position: relative;
  left: 35vw;
  top: 21vh;
  height: 6vh;
  width: 27vw;
  overflow: hidden;
  background-color: black;
  border: 2px solid #F072A9;
  border-radius: 10px;
  color: #F072A9;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.settings-title {
  position: relative;
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 2vw;
  margin-left: 2vw;
  color: white;
  transition-duration: 500ms;
  
}

.question-button {
  background-color: black;
  color: #F072A9;
  border: none;
  position: relative;
  cursor: pointer;
  margin-right: 6px;
}

.edit-title {
  position: relative;
  font-size: 1.5rem;
  margin-left: 6px;
}

.info {
  position: absolute;
  background-color: black;
  border: 2px solid #F072A9;
  border-radius: 10px;
  color: #F072A9;
  left: 63vw;
  top: 2vh;
  height: 17vh;
  width: 9vw;
  opacity: 0;
  visibility: hidden;
  transition-duration: 750ms;
}

.fa-minus-circle {
  margin-left: 3vw;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  cursor: pointer;

}

.signout-container {
  position: relative;
  left: 68vw;
  top: 5vh;
  height: 6vh;
  width: 8vw;
  overflow: hidden;
  background-color: black;
  border: solid 2px #F072A9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 20px;
}

.signout-text {
  color: #F072A9;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  padding: 0px;
  overflow: hidden;
  transition-duration: 500ms;
  background-color: black;
  border: none;
  cursor: pointer;

}


/*
* :focus {
  outline-color: #F072A9;
  outline-style: solid;
}
*/
